<div class="container color-dark" style="font-weight:bold">
  <div class="col">
    <p>Enter an address for the map</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to enter an address for the map?</p>
    <form>
      <input type="text" class="txt" name="address" placeholder="Enter an address..." [(ngModel)]="addressText">
      <input type="submit" class="btn" value="{{ btnText }}" (click)="getMap()">
    </form>
  </div>
</div>
<agm-map [latitude]="mapData.results[0].geometry.location.lat" [longitude]="mapData.results[0].geometry.location.lng">
    <agm-marker [latitude]="mapData.results[0].geometry.location.lat" [longitude]="mapData.results[0].geometry.location.lng"></agm-marker>
</agm-map>