.image-container {
  padding: 1px;
  display: block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image-preview {
  display: block;
  vertical-align: top;
  width: 50%;
}

agm-map {
  height: 500px;
}

#flyingmoney {
  -webkit-animation: rotation 2s infinite linear;
  height: 100px;
}

#bankofengland {
  -webkit-animation: rotation2 2s infinite linear;
  height: 100px;
}

#money {
  height: 100px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform: scaleY(-1.0);
  }
}

@-webkit-keyframes rotation2 {
  from {
    -webkit-transform: scaleY(1.0);
  }

  to {
    -webkit-transform: scaleY(-1.0);
  }
}
