.image-container {
  padding: 1px;
  display: block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image-preview {
  display: block;
  vertical-align: top;
  width: 50%;
}

agm-map {
  height: 500px;
}

#flyingmoney {
  -webkit-animation: rotation 2s infinite linear;
  height: 100px;
}

#bankofengland {
  -webkit-animation: rotation2 2s infinite linear;
  height: 100px;
}

#money {
  height: 100px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform: scaleY(-1.0);
  }
}

@-webkit-keyframes rotation2 {
  from {
    -webkit-transform: scaleY(1.0);
  }

  to {
    -webkit-transform: scaleY(-1.0);
  }
}
